:root {

  --clr-primary: hsl(25, 97%, 53%);
  --clr-neutral: hsl(0, 0%, 100%);
  --clr-neutral-light: hsl(217, 12%, 63%);
  --clr-neutral-medium: hsl(216, 12%, 54%);
  --clr-neutral-dark: hsl(213, 19%, 18%);
  --clr-neutral-very-dark: hsl(216, 12%, 8%);
  --clr-gradient-first: hsl(216, 19%, 16%);
  --clr-gradient-last: hsl(216, 25%, 12%);
  --clr-gradient: linear-gradient(to bottom, var(--clr-gradient-first), var(--clr-gradient-last));

  --fw-normal: 400;
  --fw-bold: 700;

  --fs-base: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --ff-default: 'Overpass', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-default);
  font-size: var(--fs-base);
  background-color: var(--clr-neutral-very-dark);
  color: var(--clr-neutral-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-inline: 2rem;
}

h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral);
  margin-bottom: 1rem;
}

.rating__info p {
  padding: 0 0 1rem 0;
  line-height: 1.5rem;
}

.rating__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: var(--clr-gradient);
  border-radius: 2rem;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
}

.star img {
  background-color: var(--clr-neutral-dark);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: .75rem;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding-bottom: 1rem;
}

.rating__number {
  background-color: var(--clr-neutral-dark);
  color: var(--clr-neutral-light);
  width: 50px;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.ratings > button:hover,
.ratings > button:focus-within {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}

.ratings > button:hover ~ button:before,
.ratings > button:focus-within ~ button:before {
  background-color: var(--clr-neutral-light);
  color: var(--clr-neutral);
}

.submit__button {
  width: 100%;
}

.submit {
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: .125rem;
  border-radius: 1000vh;
  border: none;
  width: 100%;
}

.submit:hover,
.submit:focus-within {
  background-color: var(--clr-neutral);
  color: var(--clr-primary);
}

.selection__container {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}