/* Base & Variables */
:root {

  --clr-primary: 217, 19%, 35%;
  --clr-primary-dark: 219, 29%, 14%;
  --clr-accent: 263, 55%, 52%;
  --clr-accent-light: 263, 55%, 70%;

  --clr-neutral-light-gray: 0, 0%, 81%;
  --clr-neutral-gray-blue: 210, 46%, 95%;
  --clr-neutral: 0, 0%, 100%;

  --clr-primary-hsl: hsl(var(--clr-primary));
  --clr-primary-dark-hsl: hsl(var(--clr-primary-dark));
  --clr-accent-hsl: hsl(var(--clr-accent));
  --clr-accent-light-hsl: hsl(var(--clr-accent-light));

  --clr-neutral-light-gray-hsl: hsl(var(--clr-neutral-light-gray));
  --clr-neutral-gray-blue-hsl: hsl(var(--clr-neutral-gray-blue));
  --clr-neutral-hsl: hsl(var(--clr-neutral));

  /* 
    Verified Graduate is 50% of the Person's Name 
    Review Paragraphs are 70% of Person's Name 
  */
  
  --fs-base: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;

  --fw-medium: 500;
  --fw-semibold: 600;

  --ff-default: 'Barlow Semi Condensed', sans-serif;

  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-default);
  font-weight: var(--fw-medium);
}

img {
  width: 100%;
}

/* Main Site */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

main {
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--clr-neutral-gray-blue-hsl);
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 10px 0 hsl(var(--clr-primary), 0.1);
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img img {
  border-radius: 50%; 
  border: 2px solid var(--clr-neutral-hsl);
  width: 40px;
  aspect-ratio: 1 / 1;
}

.user__name {
  font-size: var(--fs-300);
  color: var(--clr-neutral-gray-blue-hsl);
}

.tag {
  font-size: var(--fs-base);
  color: hsl(var(--clr-neutral-light-gray), 0.5);
}

.card__paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-wrap: balance;
  gap: 1rem;
}

.testimony {
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
}

.history {
  font-size: var(--fs-base);
  color: hsl(var(--clr-neutral-light-gray), 0.7);
  line-height: 1.25rem;
}

.lighter {
  color: var(--clr-primary-hsl);
  background-color: var(--clr-neutral-hsl);
}

.lighter .user__name {
  color: var(--clr-primary-hsl);
}

.lighter .tag {
  color: hsl(var(--clr-primary), 0.5);
}

.lighter .history {
  color: hsl(var(--clr-primary), 0.7);
}
.purple {
  background: var(--clr-accent-hsl);
}

.quotation {
  background-image: url('images/bg-pattern-quotation.svg');
  background-position: top right 8%;
  background-repeat: no-repeat;
}

.blue__gray {
  background-color: var(--clr-primary-hsl);
}

.dark__blue {
  background-color: var(--clr-primary-dark-hsl);
}

.white {
  border-color: var(--clr-neutral);
}

.purple__border img {
  border: 2px solid var(--clr-accent-hsl);
}

.light__purple__border img {
  border: 2px solid var(--clr-accent-light-hsl);
}

/* Frontend Mentor Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Media Query */

@media (min-width: 700px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
     "first first second fifth"
     "third fourth fourth fifth";
    max-width: 1100px;
    max-height: 600px;
  }
  .first {
    grid-area: first;
  }

  .second {
    grid-area: second;
  }

  .third {
    grid-area: third;
  }

  .fourth {
    grid-area: fourth;
  }

  .fifth {
    grid-area: fifth;
  }

  .quotation {
    background-position: top right 15%;
}

@media (prefers-color-scheme: dark) {
  .purple {
    box-shadow: 2px 2px 9px 0 hsl(var(--clr-accent), 0.4);
  }

  .lighter {
    box-shadow: 2px 2px 9px 0 hsl(var(--clr-neutral), 0.4);
  }

  .dark__blue {
    box-shadow: 2px 2px 9px 0 hsl(var(--clr-primary-dark), 0.4);
  }

  .blue__gray {
    box-shadow: 2px 2px 9px 0 hsl(var(--clr-primary), 0.4);
  }

  .attribution a {
    color: var(--clr-neutral);
  }

}

