/* Base & Variables */
:root {
  --clr-primary: 322, 100%, 66%;
  --clr-primary-light: 321, 100%, 78%;
  --clr-accent: 0, 100%, 63%;

  --clr-neutral-dark: 192, 100%, 9%;
  --clr-neutral: 193, 100%, 50%;
  --clr-neutral-light: 207, 100%, 98%;
  --clr-neutral-grey: 207, 23%, 62%;
  
  --clr-primary-hsl: hsl(var(--clr-primary));
  --clr-primary-light-hsl: hsl(var(--clr-primary-light));
  --clr-accent-hsl: hsl(var(--clr-accent));

  --clr-neutral-dark-hsl: hsl(var(--clr-neutral-dark));
  --clr-neutral-hsl: hsl(var(--clr-neutral));
  --clr-neutral-light-hsl: hsl(var(--clr-neutral-light));
  --clr-neutral-grey-hsl: hsl(var(--clr-neutral-grey));

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-200: 0.8275rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-850: 2.5rem;
  --fs-900: 4rem;

  --ff-accent: 'Poppins', sans-serif;
  --ff-default: 'Open Sans', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  line-height: 1.5;
}

h1, h2 {
  font-family: var(--ff-accent);
}

img {
  width: 100%;
}

/* Main Site */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header__img {
  width: 100px;
}

.btn__white {
  background-color: white;
  color: var(--clr-primary-hsl);
  border: 1px solid var(--clr-primary-hsl);
  border-radius: 1000vh;
  padding: .3rem 1.5rem;
  font-size: var(--fs-200);
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
  gap: 2rem;
  padding: 2rem;
}

.hero__container button {
  padding: .75rem 2rem;
  margin-top: 2rem;
  border: none;
  border-radius: 1000vh;
  font-weight: var(--fw-semibold);
  box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.2);
}

.hero__img {
  width: 80%;
  margin: 5rem auto;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.communities,
.messages {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.communities__number,
.messages__number {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}

.communities__text,
.messages__text {
  color: var(--clr-neutral-grey-hsl);
}

.communities__img,
.messages__img {
  width: 30px;
}

.grow__content,
.conversations__content,
.users__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.build__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-block: 8rem;
}

.build__button button {
  padding: .75rem 2.5rem;
  border: none;
  border-radius: 1000vh;
  font-weight: var(--fw-semibold);
  box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.2);
}

.footer__wrapper {
  background-color: var(--clr-neutral-dark-hsl);
  color: white;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter__title h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

.newsletter__form form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.newsletter__form input {
  padding: 1rem;
  border: 2px solid white;
  outline: none;
  border-radius: .5rem;
  width: 100%;
}

.newsletter__form button {
  border-radius: .5rem;
  padding: 1rem;
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  font-weight: var(--fw-semibold);
  width: 50%;
}

.logo {
  width: 200px;
  padding-top: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

.social__links {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.social__links a {
  color: inherit;
}

.social__links a i {
  font-size: var(--fs-700);
}

/* Frontend Mentor Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

/* Utilities */

.btn__pink {
  background-color: var(--clr-primary-hsl);
  color: white;
}

.btn__pink:hover,
.btn__pink:focus {
  background-color: var(--clr-primary-light-hsl);
}

.btn__white:hover,
.btn__white:focus {
  border: 1px solid var(--clr-primary-light-hsl);
  color: var(--clr-primary-light-hsl);
}

.newsletter__form form input:focus {
  border-color: var(--clr-primary-hsl);
}

.social__links a:hover,
.social__links a:focus {
  color: var(--clr-neutral-hsl);
}

/* Background waves */
.wrapper {
  --mask:
    radial-gradient(13.42rem at 50% 18rem,#000 99%,#0000 101%) calc(50% - 12rem) 0/24rem 51% repeat-x,
    radial-gradient(13.42rem at 50% -12rem,#0000 99%,#000 101%) 50% 6rem/24rem calc(51% - 6rem) repeat-x,
    radial-gradient(13.42rem at 50% calc(100% - 18rem),#000 99%,#0000 101%) 50% 100%/24rem 51% repeat-x,
    radial-gradient(13.42rem at 50% calc(100% + 12rem),#0000 99%,#000 101%) calc(50% - 12rem) calc(100% - 6rem)/24rem calc(51% - 6rem) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  width: 100%;
  padding-block: 10rem;
  background-color: var(--clr-neutral-light-hsl);
}

.footer__wrapper {
  --mask:
    radial-gradient(13.42rem at 50% 18rem,#000 99%,#0000 101%) calc(50% - 12rem) 0/24rem 100%,
    radial-gradient(13.42rem at 50% -12rem,#0000 99%,#000 101%) 50% 6rem/24rem 100% repeat-x;
    -webkit-mask: var(--mask);
  mask: var(--mask);
}

.grow__content,
.users__content {
  padding: 2rem;
}

.conversations__content {
  padding: 2rem;
}

.footer__content {
  padding: 10rem 2rem 2rem 2rem;
}

@media (min-width: 700px) {

  .header__img img {
    width: 250px;
  }

  .btn__white {
    font-size: var(--fs-400);
    padding: .5rem 2rem;
  }

  .hero {
    width: 80%;
    margin: 0 auto;
  }

  .hero__title {
    font-size: var(--fs-850);
  }

  .hero__text {
    width: 50%;
  }

  .btn__pink {
    font-size: var(--fs-400);
    padding: 2rem 4rem;
  }

  .stats {
    display: flex;
    flex-direction: row;
  }

  .grow__content,
  .conversations__content,
  .users__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: left;
  }

  .grow__img,
  .users__img,
  .conversations__title,
  .conversations__text {
    grid-column: 1;
    grid-row: 1;
  }

  .grow__title,
  .grow__text,
  .conversations__img,
  .users__title,
  .users__text {
    grid-column: 2;
    grid-row: 1;
  }

  .grow__title,
  .conversations__title,
  .users__title {
    padding-bottom: 1rem;
    font-size: var(--fs-600);
  }

  .build__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-700);
    text-align: center;
  }

  .footer__content {
    display: grid;
    grid-template-columns: 500px 500px;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .newsletter {
    grid-column: 2;
    grid-row: 1;
  }

  .newsletter__title h2 {
    font-size: var(--fs-700);
  }

  .footer__company__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1;
    grid-row: 1;
  }

  .logo {
    padding-top: 0;
    margin-top: 0;
  }

  .frontend {
    grid-column: 1 / -1;
  }

}